version: "3.9"

services:
  tg-arr-bot:
    build:
      context: .
      dockerfile: Dockerfile
    container_name: tg-arr-bot
    restart: unless-stopped
    env_file:
      - .env
    volumes:
      - bot-data:/app/data

volumes:
  bot-data:
    driver: local
